/* Start Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab'),
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
/* End Font*/
/* Start Body */
body {
    background-image: url();
    background-color: mintcream;
    color: #282828;
    font-family: Roboto-Slab, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 1;
    padding: 1;
}
/* End Body */

/* Start Debug */
.bg-celadongreen {
    background-color: #2c84a0;
}
.bg-airblue {
    background-color: #6da5b2;
}
.bg-darkblue {
    background-color: #79c8ce;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container*/
/* Start Logo */
.logo {
    text-align: center; 
}
/* End Logo */
/* Start Anchor/ Hyperlink */
a:link,
a:visited {
    color: #282828;
    text-decoration: none;

}
a:hover,
a:active {
    color: #7c7c7c;
    text-decoration: underline;
}
/* End Anchor/ Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: #6da5b2;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgb(0, 0, 2)
        0 6px 10px -0px rgb(0, 0, 14)
        0 1px 18px 0px rgb(0, 0, 12)
}
.menu-primer li {
    border-right: 1px solid #282828;
    display: inline-block;
    margin: 0 -4px;
}
.menu-primer a {
    color: #344055;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 15px 20px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: #f2f2f2;
    color: #000000;
    text-decoration: none;
}
.menu-primer .active {
    background-color: #f2f2f2;
    color: #3333333;
    text-decoration: none;
}
/* End Menu Primer */
/* Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-weight: 28;
}
h2 {
    font-weight: 24;
}
h3 {
    font-weight: 18;
}
h4 {
    font-weight: 16;
}
h5 {
    font-weight: 14;
}
h6 {
    font-weight: 12;
}
/* End Heading*/
/* Start Jumbotron*/
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 20px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 12px;
    padding: 0 18px;
}
.jumbotron h4 {
    font-size: 12px;
    padding: 0 16px;
}
/* End Jumbotron*/

/* Start Main*/
.main-home-one {
    float: left;
    width: 100%;
}
.main-home-two {
    float: ;
    width: 100%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}
.main-one {
    float: right;
    overflow: auto;
    width: 70%;
}
/* End main*/

/* Start Sidebar */
.sidebar.two {
    float: right;
    overflow: auto;
    width: 30%;
}
/* Start Sidebar */

/* Start Box*/
.box-heading {
    background-color: #79c8ce;
    border: 1px solid #d1d5da;
    boerder-radius: 3px 3px 0 0;
    margin: 0;
    padding: 20px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 12px;
    margin: 0;
}
.box-isi {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    boerder-radius: 3px 3px 0 0;
    margin: 0;
    padding: 60px 60px;
}
/* End Box */

/* Start Form */
input[type="text"],
input[type="email"],
input[type="no-tlp"],
textarea {
    font-size: 12px;
    padding: 10px;
}
input::placeholder,
textarea::placeholder {
    color: #888888;
    font-weight: 300;
}
input[type="submit"],
input[type="reset"], 
.button {
    background-color: #eaecef;
    background-image: linear-gradient(-180deg, #fafbfc 0%, eff3f6 90%);
    border: 1px solid rgba(27. 31. 35, 0.2);
    border-radius: 4px;
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* End Form */

/* Start Contact Form */
.contact-form div {
    margin: 20px 0;
}
/* End Contact Form */

/* Start Menu Sekunder*/
.menu-sekunder {
    background-color: #f6f8fa;
    border-bottom: 1px #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder {
    font-size: 12px;
    margin: 0 auto;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder li a,
.menu-sekunder p {
    font-size: 12px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two {
    width: 30%;
}
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder*/

/* Start Copyright */
.copyright p {
    font-size: 15px;
}
/* End Copyright*/

/* Start Align */
.left {
    text-align: left;
}
.right {
    text-align: right;
}
/* End Align */

/* Start Effec*/
figure.snip1480 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 150%;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
  }
  figure.snip1480 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  figure.snip1480 img {
    max-width: 100%;
    vertical-align: top;
  }
  figure.snip1480 figcaption {
    background-color: rgba(42, 128, 185, 0.75);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  figure.snip1480 h3 {
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
  }
  figure.snip1480:before {
    background: rgba(42, 128, 185, 0.75);
    content: "";
    left: 0;
    right: 0;
    bottom: 100%;
    top: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  figure.snip1480 i {
    position: absolute;
    font-size: 3.5em;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50px);
    transform: translate(-50%, -50px);
    opacity: 0;
  }
  figure.snip1480 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  figure.snip1480:hover:before,
  figure.snip1480.hover:before {
    bottom: 0;
  }
  figure.snip1480:hover i,
  figure.snip1480.hover i {
    opacity: 1;
  }
  figure.snip1480:hover figcaption,
  figure.snip1480.hover figcaption {
    background-color: #ffffff;
    color: rgba(42, 128, 185, 0.75);
  }
/* Start Effect*/

/* Start HP */
@media (max-width: 480px) {
    .media-primer ul {
        background-color: #2c84a0
    }
    .main-home-one {
        width: 100%;
    }
    .main-home-two {
        width: 100%;
    }
}
/* End HP*/